.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;


  img.carousel-image {
    width: 100%;
    height: 415px;
    border-radius: 10px;
    
  }

  .carouse-image{
    transition: transform 1s ease-in-out;
  }
  .arrow {
    position: absolute;
    top: 50%;
    font-size: 6rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }
  }

  .slide-counter {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}

.counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}