.collapse {
  border-radius: 5px;
  margin-bottom: 30px;
  


  .collapse-header {
    background-color: #ff6060;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    height: 52px;
    box-sizing: border-box;
    border-radius: 5px;
 
  }

  .collapse-content {
   background-color: #F6F6F6;

    color: black;
    overflow: hidden;
    transition: 0.5s ease-in-out;
  }
  p {
    margin: 0;
    padding: 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


.arrow-icon {
  transition: transform 0.3s;
  cursor: pointer;
padding: 10px 10px;

  &.open {
    transform: rotate(180deg);
    
  }


   @media (max-width: 768px) {
    width: 16px;   // adjusting for mobile
    height: 16px;
  }
}

