.collapse {
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
//   cursor: pointer;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .collapse-content {
    padding: 10px;
    background-color: white;
    color: black;
  }
}

.arrow-icon {
  transition: transform 0.3s;
  cursor: pointer;

  &.open {
    transform: rotate(180deg);
  }
   @media (max-width: 768px) {
    width: 16px;   // adjusting for mobile
    height: 16px;
  }
}