.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 30px;
    background-color: white;
    margin-inline: 50px;
}

.logo img {
  width: 200px; 
  
}

nav {
        display: flex;
        gap: 100px;

        a {
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: 500;
            line-height: 90%;
           
            

            &.active {
                border-bottom: 1px solid black;
                font-weight: 500;
                
            }

           
        }
    }
