.header {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-top: 30px;
    background-color: white;
    margin-inline: 50px;
}

.logo img {
  width: 200px; 
  
}

nav {
        display: flex;
        gap: 100px;

        a {
            text-decoration: none;
            color: black;
            font-size: 24px;
            font-weight: 500;
            line-height: 90%;
           
            

            &.active {
                border-bottom: 1px solid black;
                font-weight: 500;
                 box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3); 
            }

           
        }
    }

    @media (max-width: 768px) {
.header {
margin: 0;
padding-inline: 20px;
padding-bottom: 0;
gap: 60px;

.logo img {
  width: 180px;
  
}

nav {
  padding-top: 15px;
  gap: 55px;

  a{
    
    font-size: 20px;
    line-height: 100%;
    ;
  }
}
}

    }

    @media (max-width:510px) {

      
      .header{
        .logo img {
          width: 140px;
        }
        nav{
          padding-top: 15px;
          gap: 30px ;
        a{
          font-size: 16px ;
        }
        }
      }
    }


  @media (max-width: 376px) {

.header {
margin: 0;
padding-inline: 20px;
padding-bottom: 0;

  .logo img {
  width: 140px;
  
}

nav {
  padding-top: 15px;
  gap: 15px;

  a{
    
    font-size: 12px;
    line-height: 100%;
  }
}
}
  }
   