


.property {
  margin: 30px 80px 0 80px;


  .property-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    flex-wrap: wrap;

    .left-info {
      flex: 1;
      max-width: 60%;
min-width: 300px;

      h1 {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin: 0;
      
      }

      .location {
        font-size: 18px;
        margin-bottom: 25px;
        margin-top: 10px;
        font-weight: 500;
      }

      .tags {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .tag {
          background: #FF6060;
          color: white;
          padding: 5px 15px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }

    .right-info {
      text-align: right;
     display: flex;
     flex-direction: column;
     align-items: flex-end;
    

      .host {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .host-name {
          margin-right: 15px;
          color: #FF6060;
          font-size: 18px;
          font-weight: 500;
        }

        .host-picture {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .rating {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        gap: 5px;

        .star {
            font-size: 28px;
        margin-top: 15px;
    

         
        }
      }
    }
  }

    .collapse-sections {
    display: flex;
    gap: 60px;
    margin-top: 30px;

    > div {
      flex: 1;
    }
  }
}

.property .collapse-sections{

    margin-bottom: 30px;

     .collapse-header {

    border-radius: 10px;

    h3{

        margin:0;
        padding: 15px 0 15px 5px ;
    }
    }


}


@media (max-width: 768px) {
.property {

  margin: 30px 20px 0 20px;
.property-header {
  .left-info {
    h1 {
      font-size: 28px;
    }
    .location {
      font-size: 16px;
      margin-bottom: 15px;
    }
    
    .tags {
 .tag {
font-size: 12px;
    }
    }
   
  }
  .right-info {
.host  {
  .host-name{
    font-size: 16px;
    
    }
    .host-picture{
      width: 48px;
      height: 48px;
  }
}
.rating {
.star {
  font-size: 20px;
}
}
}
}

.collapse-sections{
  margin-bottom: 15px;
.collapse-header{
  height: 42px;
}
  .collapse-header h3{

    font-size: 16px;
  }
  .arrow-icon{
    padding: 5px 0 0 0;
&.open {
  position: relative;
left: 0;
top: 6px;
}
  }
}
}
}



@media (max-width: 510px){
  .property {
    max-width: 100%;
    
  margin: 30px 15px 0 15px;
  


  .property-header {
    max-width: 100%;
    width: 100%;
    gap: 5px !important; 
 
    
    margin-top: 10px;
    gap: 15px;
   

 

    .left-info {
      max-width: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;


      h1 {
        font-size: 22px;
        font-weight: 500;
        color: #FF6060;
        margin: 0;
      
      }

      .location {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 500;
      }

      .tags {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        .tag {
          background: #FF6060;
          color: white;
          padding: 4px 20px;
          border-radius: 10px;
          font-size: 11px;
          font-weight: 700;
          margin-right: 10px;
          margin-bottom: 10px;
        }
      }
    }

    .right-info {
      max-width: 100%;
    width: 100%;
      text-align: right;
     display: flex;
     flex-direction: row-reverse;
     justify-content: space-between;
     align-items: center;
     margin: 0;
     
     
    

      .host {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .host-name {
          margin-right: 10px;
          color: #FF6060;
          font-size: 14px;
          font-weight: 500;
        }

        .host-picture {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 5px;

        .star {
            font-size: 18px;
        margin-top: 15px;
    

         
        }
      }
    }
  }

    .collapse-sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 0;

    > div {
      flex: 1;
    }
  }

  .arrow-icon {
  
position: relative;
padding: 0 !important;
margin: 0;
width: 24px;

&.open {
    transform: rotate(180deg);
    position: relative;
    top: 0 !important;
  }


}
}

.property .collapse-sections{

 
     .collapse-header {
height: 32px;

    h3{
     padding-block: 5px ;
font-size: 15px ;
      
    }
    }

.collapse {
  margin: 0 0 10px 0;
}

}

 .footer {

  margin-top: 20px ;
}

}

 @media (max-width: 376px) {

  .property {
   
  
  .property-header {
    
 
    
    margin-top: 10px;
    gap: 15px;
   

 

    .left-info {
     


      h1 {
        font-size: 18px;
       
      
      }

      .location {
        font-size: 14px;
      
      }

      .tags {
       

        .tag {
         
          font-size: 10px;
          
        }
      }
    }

    .right-info { 

      .host {
       
        .host-name {
        
          font-size: 12px;
          
        }

        .host-picture {
          width: 32px;
          height: 32px;
        
        }
      }

      .rating {
      

        .star {
            font-size: 16px;
        margin-top: 15px;
    

         
        }
      }
    }
  }

    .collapse-sections {


    > div {
      flex: 1;
    }
  }

  .arrow-icon {
  
padding-right: 5px;
position: relative;
top: 0;
margin: 0;
width: 22px;

&.open {
    transform: rotate(180deg);
    left: -5px;
  }


}
}

.property .collapse-sections{


     .collapse-header {

  
    h3{
      padding-block: 8px;
font-size: 13px ;
       
    }
    }



}


 }